Flows/ImportTasks.flow.json
{
  "$schema": "https://power-automate-tools.local/flow-editor.json#",
  "connectionReferences": {
    "shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4": {
      "connectionName": "19a54966-fc23-4abc-8b40-39873d5db223",
      "connectionReferenceLogicalName": "new_sharedasana2025f225a39949ff7e0b25f3b76c9731dcd3ca4_2def7",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Asana 2",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241018t000000z0c3b49d91ded40ce945ed8cbeb4ff721/icon.png",
      "brandColor": "#ffffff",
      "tier": "NotSpecified"
    },
    "basecamp_vladi": {
      "connectionName": "ec67e872d1a543f0909c36aa0b2aa35c",
      "connectionReferenceLogicalName": "ct_BasecampVladi",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Basecamp 4",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241025t000000z53c7521529724814ac17f9955a276ab4/icon.png",
      "brandColor": "#fae34c",
      "tier": "NotSpecified"
    },
    "basecamp_alex": {
      "connectionName": "8e98fdbf55d44f3aa278bcd40ae7fb6b",
      "connectionReferenceLogicalName": "ct_BasecampAlex",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Basecamp 4",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241025t000000z53c7521529724814ac17f9955a276ab4/icon.png",
      "brandColor": "#fae34c",
      "tier": "NotSpecified"
    },
    "basecamp_imported": {
      "connectionName": "21f17347a9f64200a59322b47b2f9409",
      "connectionReferenceLogicalName": "ct_BasecampImported",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Basecamp 4",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241025t000000z53c7521529724814ac17f9955a276ab4/icon.png",
      "brandColor": "#fae34c",
      "tier": "NotSpecified"
    },
    "basecamp_raffo": {
      "connectionName": "47c1ae593424480abd5d43ec9f192d29",
      "connectionReferenceLogicalName": "ct_BasecampRaffo",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Basecamp 4",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241025t000000z53c7521529724814ac17f9955a276ab4/icon.png",
      "brandColor": "#fae34c",
      "tier": "NotSpecified"
    },
    "basecamp_vlado": {
      "connectionName": "7a5fc2a740e74698be1d72c00ca6605e",
      "connectionReferenceLogicalName": "ct_BasecampVlado",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Basecamp 4",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241025t000000z53c7521529724814ac17f9955a276ab4/icon.png",
      "brandColor": "#fae34c",
      "tier": "NotSpecified"
    },
    "basecamp_anton": {
      "connectionName": "4e4eec367d854f23991a083931189002",
      "connectionReferenceLogicalName": "ct_BasecampAnton",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Basecamp 4",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241025t000000z53c7521529724814ac17f9955a276ab4/icon.png",
      "brandColor": "#fae34c",
      "tier": "NotSpecified"
    },
    "basecamp_elena": {
      "connectionName": "cc742f5ff6ec4e8a99fe55f8b6f34aa9",
      "connectionReferenceLogicalName": "ct_BasecampElena",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Basecamp 4",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241025t000000z53c7521529724814ac17f9955a276ab4/icon.png",
      "brandColor": "#fae34c",
      "tier": "NotSpecified"
    },
    "basecamp_kristiyana": {
      "connectionName": "61bdf502e74e4c89bc77a3755d4addd3",
      "connectionReferenceLogicalName": "ct_BasecampKristiyana",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
      "displayName": "Basecamp 4",
      "iconUri": "https://prodapiicons.cdn.powerappscdn.net/20241025t000000z53c7521529724814ac17f9955a276ab4/icon.png",
      "brandColor": "#fae34c",
      "tier": "NotSpecified"
    }
  },
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$authentication": {
        "defaultValue": {},
        "type": "SecureObject"
      },
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "staticResults": {
      "Create_a_card0": {
        "status": "Succeeded",
        "outputs": {
          "statusCode": "OK",
          "body": {
            "id": 4
          }
        }
      },
      "Update_a_card0": {
        "status": "Succeeded",
        "outputs": {
          "statusCode": "OK",
          "body": {
            "id": 4
          }
        }
      },
      "Move_a_card0": {
        "status": "Succeeded",
        "outputs": {
          "statusCode": "204",
          "body": {}
        }
      },
      "Create_a_comment0": {
        "status": "Succeeded",
        "outputs": {
          "statusCode": "201",
          "body": {}
        }
      }
    },
    "triggers": {
      "manual": {
        "metadata": {
          "operationMetadataId": "7240eff8-9bec-408c-8a37-57fb01a3bb8a"
        },
        "type": "Request",
        "kind": "Button",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "projectId": {
                "description": "1204598815500662",
                "title": "Project ID",
                "type": "string",
                "x-ms-content-hint": "TEXT",
                "x-ms-dynamically-added": true
              },
              "sectionId": {
                "description": "1204598815500664",
                "title": "Section ID",
                "type": "string",
                "x-ms-content-hint": "TEXT",
                "x-ms-dynamically-added": true
              },
              "workspaceId": {
                "description": "33192501926998",
                "title": "Workspace ID",
                "type": "string",
                "x-ms-content-hint": "TEXT",
                "x-ms-dynamically-added": true
              },
              "taskLimit": {
                "title": "Task Limit",
                "type": "number",
                "x-ms-dynamically-added": true,
                "description": "Please enter a number",
                "x-ms-content-hint": "NUMBER"
              },
              "basecampProjectId": {
                "title": "Basecamp project ID",
                "type": "number",
                "x-ms-dynamically-added": true,
                "description": "Please enter a number",
                "x-ms-content-hint": "NUMBER"
              },
              "basecampTodoListId": {
                "title": "Basecamp to-do list ID",
                "type": "number",
                "x-ms-dynamically-added": true,
                "description": "Please enter a number",
                "x-ms-content-hint": "NUMBER"
              },
              "basecampDoneColumnId": {
                "title": "Basecamp Done Column ID",
                "type": "number",
                "x-ms-dynamically-added": true,
                "description": "7832491326",
                "x-ms-content-hint": "NUMBER"
              },
              "create": {
                "title": "Create",
                "type": "string",
                "x-ms-dynamically-added": true,
                "description": "Cards",
                "x-ms-content-hint": "TEXT",
                "enum": [
                  "Cards",
                  "ToDos"
                ]
              }
            },
            "required": [
              "workspaceId",
              "basecampDoneColumnId",
              "basecampProjectId",
              "create"
            ]
          },
          "headersSchema": {
            "x-ms-user-name-encoded": {
              "title": "User name",
              "type": "string",
              "format": "byte",
              "x-ms-dynamically-added": false
            },
            "x-ms-user-email-encoded": {
              "title": "User email",
              "type": "string",
              "format": "byte",
              "x-ms-dynamically-added": false
            },
            "x-ms-user-timestamp": {
              "title": "Timestamp",
              "type": "string",
              "x-ms-dynamically-added": false
            }
          }
        },
        "conditions": []
      }
    },
    "actions": {
      "Initialise_columnsMapping": {
        "metadata": {
          "operationMetadataId": "31314f4f-9398-4e76-b03a-e9c2f9669255"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "columnsMapping",
              "type": "Object",
              "value": {
                "1204598815500664": 7832491321,
                "1204598815500669": 7832501864,
                "1204598815500668": 7832491320,
                "1204903371531182": 7832491323,
                "1204598815500670": 7832491326
              }
            }
          ]
        },
        "description": "Order: Чака Clever -> Чака Clever; Работи се -> Работи се; Backlog -> Not now; Чака ЕРА или външен контрагент -> Чака ЕРА или външен контрагент; Завършена -> Done"
      },
      "Initialise_defaultColumnId": {
        "runAfter": {
          "Initialise_columnsMapping": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "6a7acca0-453c-4a71-a471-304d2d32449c"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "defaultColumnId",
              "type": "Integer",
              "value": 7832491319
            }
          ]
        }
      },
      "Initialise_taskFields": {
        "runAfter": {
          "Initialise_defaultColumnId": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "3c628cbe-f2ab-4c27-bc59-5166319f1da9"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "taskFields",
              "type": "Array",
              "value": [
                "name",
                "resource_type",
                "resource_subtype",
                "assignee.name",
                "created_at",
                "created_by",
                "completed_by.name",
                "due_at",
                "due_on",
                "html_notes",
                "tags.name",
                "memberships.section.name",
                "parent.name",
                "num_subtasks",
                "permalink_url"
              ]
            }
          ]
        }
      },
      "Initialise_tasks": {
        "runAfter": {
          "Initialise_taskFields": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "37446a49-b0b7-4176-af75-b3f79d76ad74"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "tasks",
              "type": "Array",
              "value": []
            }
          ]
        }
      },
      "Initialise_tmpArray": {
        "runAfter": {
          "Initialise_tasks": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "tmpArray",
              "type": "Array",
              "value": []
            }
          ]
        }
      },
      "Initialise_tmpString": {
        "runAfter": {
          "Initialise_tmpArray": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "tmpString",
              "type": "String"
            }
          ]
        }
      },
      "Initialise_users": {
        "runAfter": {
          "Initialise_tmpString": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "users",
              "type": "Object",
              "value": {}
            }
          ]
        }
      },
      "Initialise_tmpObject": {
        "runAfter": {
          "Initialise_users": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "tmpObject",
              "type": "Object",
              "value": {}
            }
          ]
        }
      },
      "Get_users": {
        "runAfter": {
          "Initialise_tmpObject": [
            "Succeeded"
          ]
        },
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "workspace": "@triggerBody()?['workspaceId']",
            "opt_fields": [
              "email",
              "name"
            ]
          },
          "host": {
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
            "connectionName": "shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
            "operationId": "GetUsers"
          },
          "authentication": {
            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
            "type": "Raw"
          }
        }
      },
      "Initialise_mentionSearchStringTemplate": {
        "runAfter": {
          "Get_users": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "mentionSearchStringTemplate",
              "type": "String",
              "value": "<a href=\"https://app.asana.com/0/profile/{gid1}\" data-asana-gid=\"{gid2}\" data-asana-accessible=\"true\" data-asana-type=\"user\" data-asana-dynamic=\"true\">"
            }
          ]
        }
      },
      "Initialise_mentions": {
        "runAfter": {
          "Initialise_mentionSearchStringTemplate": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "mentions",
              "type": "Array",
              "value": [
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1202404912113645'), '{gid2}', '1202404912090694'), '@Rafail</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyTnpZME9UWTJQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--c3a126e1a7f09ccc2c4fd840132ddced366be325\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1201918551045161'), '{gid2}', '1201918551024388'), '@Vlado</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyTnpZME9UVTRQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--6b09b4b6b111fca1761b4a9807b39b061d907a76\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '33192501927000'), '{gid2}', '33192501926992'), '@Alex</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyTnpZeE5qUTJQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--cb681fe9c5ce30d9f2f850e859dd4902b8896fab\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1108196483313669'), '{gid2}', '1108196483313668'), '@Vladi</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyTnpVNE1qY3dQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--38a2e5ff4ae12b9068172b987aab50cdaf5119cd\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1204779684532715'), '{gid2}', '1165302891579978'), '@Anton Andonov</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyT1RRd05qVTBQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--28d070ed979b2b87874b7aaac389899c00de04dc\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1204779684532715'), '{gid2}', '1165302891579978'), '@Anton</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyT1RRd05qVTBQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--28d070ed979b2b87874b7aaac389899c00de04dc\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1204779688733218'), '{gid2}', '1165302891579994'), '@Elena Dimitrova</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyT1RRd05qVXpQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--1e0b8833168e90f62ffa32ac652c530394d2cfcc\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1204779688733218'), '{gid2}', '1165302891579994'), '@Elena</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyT1RRd05qVXpQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--1e0b8833168e90f62ffa32ac652c530394d2cfcc\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1204780190594323'), '{gid2}', '1204779638040827'), '@Katerina Miteva</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyT1RRd05qVTFQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--911248ea35c8c416fda60a57745932c1e017e2e4\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1204780190594323'), '{gid2}', '1204779638040827'), '@Katerina</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyT1RRd05qVTFQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--911248ea35c8c416fda60a57745932c1e017e2e4\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1206056062017371'), '{gid2}', '1206055494267967'), '@Kristiyana Koycheva</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyT1RRd05qVTJQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--1985c81b8abfe60d600cff4f50f75413c435804c\"></bc-attachment>"
                },
                {
                  "find": "@concat(replace(replace(variables('mentionSearchStringTemplate'), '{gid1}', '1206056062017371'), '{gid2}', '1206055494267967'), '@Kristiyana</a>')",
                  "replace": "<bc-attachment sgid=\"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxuYVdRNkx5OWlZek12VUdWeWMyOXVMelEyT1RRd05qVTJQMlY0Y0dseVpYTmZhVzRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImF0dGFjaGFibGUifX0=--1985c81b8abfe60d600cff4f50f75413c435804c\"></bc-attachment>"
                }
              ]
            }
          ]
        }
      },
      "Cache_users": {
        "foreach": "@outputs('Get_users')?['body/data']",
        "actions": {
          "Copy_to_tmp": {
            "type": "SetVariable",
            "inputs": {
              "name": "tmpObject",
              "value": "@variables('users')"
            }
          },
          "Add_user": {
            "runAfter": {
              "Copy_to_tmp": [
                "Succeeded"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "users",
              "value": "@addProperty(variables('tmpObject'), items('Cache_users')['gid'], addProperty(items('Cache_users'), 'ref', concat(items('Cache_users')['name'], ' (', items('Cache_users')['email'], ')')))"
            }
          }
        },
        "runAfter": {
          "Initialise_mentions": [
            "Succeeded"
          ]
        },
        "type": "Foreach"
      },
      "Get_tasks": {
        "actions": {
          "Get_tasks_with_limit": {
            "actions": {
              "Get_tasks_by_SectionID_with_limit": {
                "metadata": {
                  "operationMetadataId": "51bc5857-f3d9-451f-b0e0-c65e711cb923"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "section": "@triggerBody()?['sectionId']",
                    "limit": "@triggerBody()?['taskLimit']",
                    "opt_fields": "@variables('taskFields')"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                    "connectionName": "shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                    "operationId": "GetTasks"
                  },
                  "authentication": {
                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                    "type": "Raw"
                  }
                }
              },
              "Set_tasks_from_SectionID_with_limit": {
                "runAfter": {
                  "Get_tasks_by_SectionID_with_limit": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "166f8d6e-1c9d-48dc-8e92-21c8edc98289"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Tasks",
                  "value": "@outputs('Get_tasks_by_SectionID_with_limit')?['body/value']"
                }
              }
            },
            "else": {
              "actions": {
                "Get_tasks_by_ProjectID_with_limit": {
                  "metadata": {
                    "operationMetadataId": "cb8eed09-f826-4fa1-a18c-9e357fc350f4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "project": "@triggerBody()?['projectId']",
                      "limit": "@triggerBody()['taskLimit']",
                      "opt_fields": "@variables('taskFields')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                      "connectionName": "shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                      "operationId": "GetTasks"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                },
                "Set_tasks_from_ProjectID_with_limit": {
                  "runAfter": {
                    "Get_tasks_by_ProjectID_with_limit": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b7c223d0-b8d1-430b-aaff-bf2d5ac5572f"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Tasks",
                    "value": "@outputs('Get_tasks_by_ProjectID_with_limit')?['body/value']"
                  }
                }
              }
            },
            "expression": {
              "not": {
                "equals": [
                  "@triggerBody()?['sectionId']",
                  "@null"
                ]
              }
            },
            "metadata": {
              "operationMetadataId": "1f745390-1c1b-44e1-9ed4-dfa5ec7b95f5"
            },
            "type": "If"
          }
        },
        "runAfter": {
          "Cache_users": [
            "Succeeded"
          ]
        },
        "else": {
          "actions": {
            "Get_tasks_without_limit": {
              "actions": {
                "Get_tasks_by_SectionID_without_limit": {
                  "metadata": {
                    "operationMetadataId": "51bc5857-f3d9-451f-b0e0-c65e711cb923"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "section": "@triggerBody()?['sectionId']",
                      "opt_fields": "@variables('taskFields')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                      "connectionName": "shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                      "operationId": "GetTasks"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                },
                "Set_tasks_from_SectionID_without_limit": {
                  "runAfter": {
                    "Get_tasks_by_SectionID_without_limit": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Tasks",
                    "value": "@outputs('Get_tasks_by_SectionID_without_limit')?['body/value']"
                  }
                }
              },
              "else": {
                "actions": {
                  "Get_tasks_by_ProjectID_without_limit": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "project": "@triggerBody()?['projectId']",
                        "opt_fields": "@variables('taskFields')"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                        "connectionName": "shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                        "operationId": "GetTasks"
                      },
                      "authentication": {
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                        "type": "Raw"
                      }
                    }
                  },
                  "Set_tasks_from_ProjectID_without_limit": {
                    "runAfter": {
                      "Get_tasks_by_ProjectID_without_limit": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Tasks",
                      "value": "@outputs('Get_tasks_by_ProjectID_without_limit')?['body/value']"
                    }
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@triggerBody()?['sectionId']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "1f745390-1c1b-44e1-9ed4-dfa5ec7b95f5"
              },
              "type": "If"
            }
          }
        },
        "expression": {
          "not": {
            "equals": [
              "@triggerBody()?['taskLimit']",
              "@null"
            ]
          }
        },
        "metadata": {
          "operationMetadataId": "1f745390-1c1b-44e1-9ed4-dfa5ec7b95f5"
        },
        "type": "If"
      },
      "Initialise_defaultUserId": {
        "runAfter": {
          "Get_tasks": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "defaultUserId",
              "type": "Integer",
              "value": 46970549
            }
          ]
        }
      },
      "Initialise_usersMapping": {
        "runAfter": {
          "Initialise_defaultUserId": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "2c847834-0942-4c1b-b281-bb62ab98c4ef"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "usersMapping",
              "type": "Object",
              "value": {
                "33192501926992": "46761646",
                "1108196483313668": "46758270",
                "1201918551024388": "46764958",
                "1202404912090694": "46764966",
                "1165302891579978": "",
                "1165302891579994": "",
                "1204779638040825": "",
                "1204779638040827": "",
                "1206055494267967": "",
                "1207540583357090": "",
                "1207540720335140": "",
                "1207540720469555": ""
              }
            }
          ]
        },
        "description": "Order of people:\n- Alex (992)\n- Vladi (668)\n- Vlado (388)\n- Raffo  (694)\n- Anton (978)\n- Elena (994)\n- Simo (825)\n- Katerina (827)\n- Krisi (967)\n- mgincheva (090)\n- pmanolov (140)\n- azaimov (555)"
      },
      "Initialize_assigneeId": {
        "runAfter": {
          "Initialise_usersMapping": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "assigneeId",
              "type": "String",
              "value": null
            }
          ]
        }
      },
      "Initialize_columnId": {
        "runAfter": {
          "Initialize_assigneeId": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "8cbc11d6-6626-4311-96d0-f870f55ac1aa"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "columnId",
              "type": "Integer"
            }
          ]
        }
      },
      "Initialize_sectionId": {
        "runAfter": {
          "Initialize_columnId": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "sectionId",
              "type": "String"
            }
          ]
        }
      },
      "Initialize_createdCardOrTaskId": {
        "runAfter": {
          "Initialize_sectionId": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "eb7dbdd4-a508-4e0a-b2c5-43fd13801d05"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "createdCardOrTaskId",
              "type": "Integer"
            }
          ]
        }
      },
      "Initialize_taskTitle": {
        "runAfter": {
          "Initialize_createdCardOrTaskId": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "54e748d5-6b30-49fe-94ef-0874d18371fe"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "taskTitle",
              "type": "String"
            }
          ]
        }
      },
      "Initialize_taskContent": {
        "runAfter": {
          "Initialize_taskTitle": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "506cd845-d294-4113-9ed7-28bf8ae8e17b"
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "taskContent",
              "type": "String"
            }
          ]
        }
      },
      "Initialize_createTaskBody": {
        "runAfter": {
          "Initialize_taskContent": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "createTaskBody",
              "type": "Object",
              "value": {}
            }
          ]
        }
      },
      "Initialize_createCommentBody": {
        "runAfter": {
          "Initialize_createTaskBody": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "createCommentBody",
              "type": "Object",
              "value": {}
            }
          ]
        }
      },
      "Initialize_createTaskParameters": {
        "runAfter": {
          "Initialize_createCommentBody": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "createTaskParameters",
              "type": "Object",
              "value": {}
            }
          ]
        }
      },
      "Initialize_createTaskOperationId": {
        "runAfter": {
          "Initialize_createTaskParameters": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "createTaskOperationId",
              "type": "String"
            }
          ]
        }
      },
      "Filter_tasks_with_subtasks": {
        "runAfter": {
          "Initialize_createTaskOperationId": [
            "Succeeded"
          ]
        },
        "type": "Query",
        "inputs": {
          "from": "@variables('Tasks')",
          "where": "@greater(item()['num_subtasks'],0)"
        }
      },
      "Collect_subtasks": {
        "foreach": "@body('Filter_tasks_with_subtasks')",
        "actions": {
          "Get_subtasks": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "task_gid": "@item()?['gid']",
                "opt_fields": "@variables('taskFields')"
              },
              "host": {
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                "connectionName": "shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                "operationId": "GetSubtasks"
              },
              "authentication": {
                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                "type": "Raw"
              }
            }
          },
          "Set_tmpArray": {
            "runAfter": {
              "Get_subtasks": [
                "Succeeded"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "tmpArray",
              "value": "@variables('tasks')"
            }
          },
          "Append_subtasks": {
            "runAfter": {
              "Set_tmpArray": [
                "Succeeded"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "tasks",
              "value": "@union(variables('tmpArray'), outputs('Get_subtasks')?['body/data'])"
            }
          }
        },
        "runAfter": {
          "Filter_tasks_with_subtasks": [
            "Succeeded"
          ]
        },
        "type": "Foreach"
      },
      "Tasks": {
        "foreach": "@variables('Tasks')",
        "actions": {
          "Set_sectionId_to_default": {
            "metadata": {
              "operationMetadataId": "15a18d55-1f3d-451f-baf1-b65459a9a6be"
            },
            "type": "SetVariable",
            "inputs": {
              "name": "sectionId",
              "value": "@null"
            }
          },
          "Memberships": {
            "foreach": "@items('Tasks')['memberships']",
            "actions": {
              "If_membership_contains_the_key_\"section\"": {
                "actions": {
                  "Set_sectionId": {
                    "metadata": {
                      "operationMetadataId": "1fec6627-b096-49a4-94b5-9f2c454d4891"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "sectionId",
                      "value": "@items('Memberships')['section/gid']"
                    }
                  }
                },
                "else": {
                  "actions": {}
                },
                "expression": {
                  "equals": [
                    "@contains(items('Memberships'), 'section')",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "25dd72a8-f1a2-4fb2-9cd3-04bb8f41fb28"
                },
                "type": "If"
              }
            },
            "runAfter": {
              "Set_sectionId_to_default": [
                "Succeeded"
              ]
            },
            "metadata": {
              "operationMetadataId": "bb1574ba-a7d2-459e-b036-16533d77dc1a"
            },
            "type": "Foreach",
            "runtimeConfiguration": {
              "concurrency": {
                "repetitions": 1
              }
            }
          },
          "Map_columnId": {
            "runAfter": {
              "Memberships": [
                "Succeeded"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "columnId",
              "value": "@if(contains(variables('columnsMapping'), variables('sectionId')), int(variables('columnsMapping')[variables('sectionId')]), variables('defaultColumnId'))"
            }
          },
          "Reset_title_to_empty": {
            "runAfter": {
              "Map_columnId": [
                "Succeeded"
              ]
            },
            "metadata": {
              "operationMetadataId": "b12c17a0-c3c4-463a-a991-6f45f767e551"
            },
            "type": "SetVariable",
            "inputs": {
              "name": "taskTitle",
              "value": "@null"
            }
          },
          "Concat_tags": {
            "foreach": "@items('Tasks')['tags']",
            "actions": {
              "Append_to_tags": {
                "metadata": {
                  "operationMetadataId": "562d3c0a-c25e-4a8a-bc72-8fb6a45e08d6"
                },
                "type": "AppendToStringVariable",
                "inputs": {
                  "name": "taskTitle",
                  "value": "@concat('[', items('Concat_tags')['name'], ']')"
                }
              }
            },
            "runAfter": {
              "Reset_title_to_empty": [
                "Succeeded"
              ]
            },
            "metadata": {
              "operationMetadataId": "bebd587c-e155-4beb-86f9-22f53fc26b8f"
            },
            "type": "Foreach",
            "runtimeConfiguration": {
              "concurrency": {
                "repetitions": 1
              }
            }
          },
          "Append_taks_name_to_title": {
            "runAfter": {
              "Concat_tags": [
                "Succeeded"
              ]
            },
            "metadata": {
              "operationMetadataId": "6e716edb-cf76-487f-b8f9-5aa86394b17b"
            },
            "type": "AppendToStringVariable",
            "inputs": {
              "name": "taskTitle",
              "value": "@concat(if(empty(items('Tasks')['tags']), '', ' '), items('Tasks')?['parent/name'], if(empty(items('Tasks')?['parent/name']), '', '/'), items('Tasks')['name'])"
            }
          },
          "Set_assigneeId": {
            "runAfter": {
              "Append_taks_name_to_title": [
                "Succeeded"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "assigneeId",
              "value": "@if(equals(items('Tasks')?['assignee'], null), null, if(contains(variables('usersMapping'), items('Tasks')['assignee/gid']), variables('usersMapping')[items('Tasks')['assignee/gid']], variables('defaultUserId')))"
            }
          },
          "Set_taskContent": {
            "runAfter": {
              "Set_assigneeId": [
                "Succeeded"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "taskContent",
              "value": "@replace(items('Tasks')['html_notes'], '<body>', concat('<body>', '<pre><a href=\"', items('Tasks')['permalink_url'], '\">View in Asana</a><br/><em>(originally created at ', formatDateTime(items('Tasks')['created_at'], 'F', 'en-GB'), if(not(contains(variables('usersMapping'), items('Tasks')['created_by/gid'])), concat(' by ', variables('Users')?[items('Tasks')['created_by/gid']]['ref']), '') ,')</em></pre>'))"
            }
          },
          "Replace_task_mentions": {
            "foreach": "@variables('mentions')",
            "actions": {
              "Replace_task_mention_into_tmp": {
                "type": "SetVariable",
                "inputs": {
                  "name": "tmpString",
                  "value": "@replace(variables('taskContent'), items('Replace_task_mentions')['find'], items('Replace_task_mentions')['replace'])"
                }
              },
              "Update_taskContent_from_tmp": {
                "runAfter": {
                  "Replace_task_mention_into_tmp": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "taskContent",
                  "value": "@variables('tmpString')"
                }
              }
            },
            "runAfter": {
              "Set_taskContent": [
                "Succeeded"
              ]
            },
            "type": "Foreach"
          },
          "Create": {
            "runAfter": {
              "Replace_task_mentions": [
                "Succeeded"
              ]
            },
            "cases": {
              "Cards": {
                "case": "Cards",
                "actions": {
                  "Set_Create_card_body": {
                    "metadata": {
                      "operationMetadataId": "44f7410c-0f15-4df3-8b96-503762d1c4c4"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "createTaskBody",
                      "value": {
                        "title": "@variables('taskTitle')",
                        "content": "@variables('taskContent')",
                        "notify": false,
                        "due_on": "@items('Tasks')?['due_on']"
                      }
                    }
                  },
                  "Create_card": {
                    "runAfter": {
                      "Set_Create_card_body": [
                        "Succeeded"
                      ]
                    },
                    "cases": {
                      "Create_card_case_Vladi": {
                        "case": "1108196483313668",
                        "actions": {
                          "Create_a_card_as_Vladi": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "columnId": "@variables('columnId')",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_vladi",
                                "operationId": "CreateCard"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_createdCardOrTaskId_Vladi": {
                            "runAfter": {
                              "Create_a_card_as_Vladi": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_card_as_Vladi')['id']"
                            }
                          }
                        }
                      },
                      "Create_card_case_Alex": {
                        "case": "33192501926992",
                        "actions": {
                          "Create_a_card_as_Alex": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "columnId": "@variables('columnId')",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_alex",
                                "operationId": "CreateCard"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_createdCardOrTaskId_Alex": {
                            "runAfter": {
                              "Create_a_card_as_Alex": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_card_as_Alex')['id']"
                            }
                          }
                        }
                      },
                      "Create_card_case_Raffo": {
                        "case": "1202404912090694",
                        "actions": {
                          "Create_a_card_as_Raffo": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "columnId": "@variables('columnId')",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_raffo",
                                "operationId": "CreateCard"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_createdCardOrTaskId_Raffo": {
                            "runAfter": {
                              "Create_a_card_as_Raffo": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_card_as_Raffo')['id']"
                            }
                          }
                        }
                      },
                      "Create_card_case_Vlado": {
                        "case": "1201918551024388",
                        "actions": {
                          "Create_a_card_as_Vlado": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "columnId": "@variables('columnId')",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_vlado",
                                "operationId": "CreateCard"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_createdCardOrTaskId_Vlado": {
                            "runAfter": {
                              "Create_a_card_as_Vlado": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_card_as_Vlado')['id']"
                            }
                          }
                        }
                      },
                      "Create_card_case_Anton": {
                        "case": "1165302891579978",
                        "actions": {
                          "Create_a_card_as_Anton": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "columnId": "@variables('columnId')",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_anton",
                                "operationId": "CreateCard"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_createdCardOrTaskId_Anton": {
                            "runAfter": {
                              "Create_a_card_as_Anton": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_card_as_Anton')['id']"
                            }
                          }
                        }
                      },
                      "Create_card_case_Elena": {
                        "case": "1165302891579994",
                        "actions": {
                          "Create_a_card_as_Elena": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "columnId": "@variables('columnId')",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_elena",
                                "operationId": "CreateCard"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_createdCardOrTaskId_Elena": {
                            "runAfter": {
                              "Create_a_card_as_Elena": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_card_as_Elena')['id']"
                            }
                          }
                        }
                      },
                      "Create_card_case_Kristiyana": {
                        "case": "1206055494267967",
                        "actions": {
                          "Create_a_card_as_Kristiyana": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "columnId": "@variables('columnId')",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_kristiyana",
                                "operationId": "CreateCard"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_createdCardOrTaskId_Kristiyana": {
                            "runAfter": {
                              "Create_a_card_as_Kristiyana": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_card_as_Kristiyana')['id']"
                            }
                          }
                        }
                      }
                    },
                    "default": {
                      "actions": {
                        "Create_a_card_as_Other": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "columnId": "@variables('columnId')",
                              "projectId": "@triggerBody()['basecampProjectId']",
                              "body": "@variables('createTaskBody')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                              "connectionName": "basecamp_imported",
                              "operationId": "CreateCard"
                            },
                            "authentication": {
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                              "type": "Raw"
                            }
                          },
                          "runtimeConfiguration": {
                            "staticResult": {
                              "staticResultOptions": "Disabled",
                              "name": "Create_a_card0"
                            }
                          }
                        },
                        "Set_createdCardOrTaskId_Other": {
                          "runAfter": {
                            "Create_a_card_as_Other": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "createdCardOrTaskId",
                            "value": "@body('Create_a_card_as_Other')['id']"
                          }
                        }
                      }
                    },
                    "expression": "@items('Tasks')['created_by/gid']",
                    "type": "Switch"
                  },
                  "If_card_is_assigned": {
                    "actions": {
                      "Assign_card": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "cardId": "@variables('createdCardOrTaskId')",
                            "projectId": "@triggerBody()['basecampProjectId']",
                            "body/assignee_ids": [
                              "@if(empty(variables('assigneeId')), null, int(variables('assigneeId')))"
                            ]
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                            "connectionName": "basecamp_vladi",
                            "operationId": "UpdateCard"
                          },
                          "authentication": {
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                            "type": "Raw"
                          }
                        },
                        "runtimeConfiguration": {
                          "staticResult": {
                            "staticResultOptions": "Disabled",
                            "name": "Update_a_card0"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Create_card": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "not": {
                        "equals": [
                          "@variables('assigneeId')",
                          "@null"
                        ]
                      }
                    },
                    "type": "If"
                  },
                  "If_card_is_completed": {
                    "actions": {
                      "Move_card_to_Done": {
                        "cases": {
                          "Move_card_to_Done_as_Vladi": {
                            "case": "1108196483313668",
                            "actions": {
                              "Move_the_card_to_Done_column_as_Vladi": {
                                "metadata": {
                                  "operationMetadataId": "d3a774f5-d2a1-4b6c-b26b-f76f58a83544"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "cardId": "@variables('createdCardOrTaskId')",
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "body/column_id": "@triggerBody()['basecampDoneColumnId']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_vladi",
                                    "operationId": "MoveCard"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Move_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Move_card_to_Done_as_Alex": {
                            "case": "33192501926992",
                            "actions": {
                              "Move_the_card_to_Done_column_as_Alex": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "cardId": "@variables('createdCardOrTaskId')",
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "body/column_id": "@triggerBody()['basecampDoneColumnId']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_alex",
                                    "operationId": "MoveCard"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Move_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Move_card_to_Done_as_Raffo": {
                            "case": "1202404912090694",
                            "actions": {
                              "Move_the_card_to_Done_column_as_Raffo": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "cardId": "@variables('createdCardOrTaskId')",
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "body/column_id": "@triggerBody()['basecampDoneColumnId']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_raffo",
                                    "operationId": "MoveCard"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Move_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Move_card_to_Done_as_Vlado": {
                            "case": "1201918551024388",
                            "actions": {
                              "Move_the_card_to_Done_column_as_Vlado": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "cardId": "@variables('createdCardOrTaskId')",
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "body/column_id": "@triggerBody()['basecampDoneColumnId']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_vlado",
                                    "operationId": "MoveCard"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Move_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Move_card_to_Done_as_Anton": {
                            "case": "1165302891579978",
                            "actions": {
                              "Move_the_card_to_Done_column_as_Anton": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "cardId": "@variables('createdCardOrTaskId')",
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "body/column_id": "@triggerBody()['basecampDoneColumnId']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_anton",
                                    "operationId": "MoveCard"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Move_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Move_card_to_Done_as_Elena": {
                            "case": "1165302891579994",
                            "actions": {
                              "Move_the_card_to_Done_column_as_Elena": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "cardId": "@variables('createdCardOrTaskId')",
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "body/column_id": "@triggerBody()['basecampDoneColumnId']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_elena",
                                    "operationId": "MoveCard"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Move_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Move_card_to_Done_as_Kristiyana": {
                            "case": "1206055494267967",
                            "actions": {
                              "Move_the_card_to_Done_column_as_Kristiyana": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "cardId": "@variables('createdCardOrTaskId')",
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "body/column_id": "@triggerBody()['basecampDoneColumnId']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_kristiyana",
                                    "operationId": "MoveCard"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Move_a_card0"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "default": {
                          "actions": {
                            "Move_the_card_to_Done_column_as_Other": {
                              "metadata": {
                                "operationMetadataId": "51e58138-ddee-49e3-a589-85f070ea1887"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "cardId": "@variables('createdCardOrTaskId')",
                                  "projectId": "@triggerBody()['basecampProjectId']",
                                  "body/column_id": "@triggerBody()['basecampDoneColumnId']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                  "connectionName": "basecamp_imported",
                                  "operationId": "MoveCard"
                                },
                                "authentication": {
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                  "type": "Raw"
                                }
                              },
                              "runtimeConfiguration": {
                                "staticResult": {
                                  "staticResultOptions": "Disabled",
                                  "name": "Move_a_card0"
                                }
                              }
                            }
                          }
                        },
                        "expression": "@items('Tasks')['completed_by/gid']",
                        "metadata": {
                          "operationMetadataId": "927ece2a-29a4-45a2-8151-215e6736ac6b"
                        },
                        "type": "Switch"
                      }
                    },
                    "runAfter": {
                      "If_card_is_assigned": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "not": {
                        "equals": [
                          "@items('Tasks')?['completed_by']",
                          "@null"
                        ]
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "8475a668-e938-4c10-b427-f4879f261d2e"
                    },
                    "type": "If"
                  }
                }
              },
              "ToDos": {
                "case": "ToDos",
                "actions": {
                  "Set_Create_todo_body": {
                    "metadata": {
                      "operationMetadataId": "44f7410c-0f15-4df3-8b96-503762d1c4c4"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "createTaskBody",
                      "value": {
                        "content": "@variables('taskTitle')",
                        "description": "@variables('taskContent')",
                        "notify": false,
                        "due_on": "@items('Tasks')?['due_on']",
                        "assignee_ids": [
                          "@if(empty(variables('assigneeId')), null, int(variables('assigneeId')))"
                        ]
                      }
                    }
                  },
                  "Create_todo": {
                    "runAfter": {
                      "Set_Create_todo_body": [
                        "Succeeded"
                      ]
                    },
                    "cases": {
                      "Create_todo_case_Vladi": {
                        "case": "1108196483313668",
                        "actions": {
                          "Create_a_todo_as_Vladi": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "listId": "@triggerBody()['basecampTodoListId']",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_vladi",
                                "operationId": "CreateToDo"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_task_createdCardOrTaskId_Vladi": {
                            "runAfter": {
                              "Create_a_todo_as_Vladi": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_todo_as_Vladi')['id']"
                            }
                          }
                        }
                      },
                      "Create_todo_case_Alex": {
                        "case": "33192501926992",
                        "actions": {
                          "Create_a_todo_as_Alex": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "listId": "@triggerBody()['basecampTodoListId']",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_alex",
                                "operationId": "CreateToDo"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_todo_createdCardOrTaskId_Alex": {
                            "runAfter": {
                              "Create_a_todo_as_Alex": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_todo_as_Alex')['id']"
                            }
                          }
                        }
                      },
                      "Create_todo_case_Raffo": {
                        "case": "1202404912090694",
                        "actions": {
                          "Create_a_todo_as_Raffo": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "listId": "@triggerBody()['basecampTodoListId']",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_raffo",
                                "operationId": "CreateToDo"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_todo_createdCardOrTaskId_Raffo": {
                            "runAfter": {
                              "Create_a_todo_as_Raffo": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_todo_as_Raffo')['id']"
                            }
                          }
                        }
                      },
                      "Create_todo_case_Vlado": {
                        "case": "1201918551024388",
                        "actions": {
                          "Create_a_todo_as_Vlado": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "listId": "@triggerBody()['basecampTodoListId']",
                                "projectId": "@triggerBody()['basecampProjectId']",
                                "body": "@variables('createTaskBody')"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                "connectionName": "basecamp_vlado",
                                "operationId": "CreateToDo"
                              },
                              "authentication": {
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                "type": "Raw"
                              }
                            },
                            "runtimeConfiguration": {
                              "staticResult": {
                                "staticResultOptions": "Disabled",
                                "name": "Create_a_card0"
                              }
                            }
                          },
                          "Set_todo_createdCardOrTaskId_Vlado": {
                            "runAfter": {
                              "Create_a_todo_as_Vlado": [
                                "Succeeded"
                              ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "createdCardOrTaskId",
                              "value": "@body('Create_a_todo_as_Vlado')['id']"
                            }
                          }
                        }
                      }
                    },
                    "default": {
                      "actions": {
                        "Create_a_todo_as_Other": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "listId": "@triggerBody()['basecampTodoListId']",
                              "projectId": "@triggerBody()['basecampProjectId']",
                              "body": "@variables('createTaskBody')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                              "connectionName": "basecamp_imported",
                              "operationId": "CreateToDo"
                            },
                            "authentication": {
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                              "type": "Raw"
                            }
                          },
                          "runtimeConfiguration": {
                            "staticResult": {
                              "staticResultOptions": "Disabled",
                              "name": "Create_a_card0"
                            }
                          }
                        },
                        "Set_todo_createdCardOrTaskId_Other": {
                          "runAfter": {
                            "Create_a_todo_as_Other": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "createdCardOrTaskId",
                            "value": "@body('Create_a_todo_as_Other')['id']"
                          }
                        }
                      }
                    },
                    "expression": "@items('Tasks')['created_by/gid']",
                    "type": "Switch"
                  },
                  "If_todo_is_completed": {
                    "actions": {
                      "Complete_ToDo": {
                        "cases": {
                          "Complete_todo_Vladi": {
                            "case": "1108196483313668",
                            "actions": {
                              "Complete_todo_as_Vladi": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "todoId": "@variables('createdCardOrTaskId')"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_vladi",
                                    "operationId": "CompleteToDo"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Create_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Complete_todo_Alex": {
                            "case": "33192501926992",
                            "actions": {
                              "Complete_todo_as_Alex": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "todoId": "@variables('createdCardOrTaskId')"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_alex",
                                    "operationId": "CompleteToDo"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Create_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Complete_todo_Raffo": {
                            "case": "1202404912090694",
                            "actions": {
                              "Complete_todo_as_Raffo": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "todoId": "@variables('createdCardOrTaskId')"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_raffo",
                                    "operationId": "CompleteToDo"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Create_a_card0"
                                  }
                                }
                              }
                            }
                          },
                          "Complete_todo_Vlado": {
                            "case": "1201918551024388",
                            "actions": {
                              "Complete_todo_as_Vlado": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "projectId": "@triggerBody()['basecampProjectId']",
                                    "todoId": "@variables('createdCardOrTaskId')"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                    "connectionName": "basecamp_vlado",
                                    "operationId": "CompleteToDo"
                                  },
                                  "authentication": {
                                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                    "type": "Raw"
                                  }
                                },
                                "runtimeConfiguration": {
                                  "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Create_a_card0"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "default": {
                          "actions": {
                            "Complete_todo_as_Other": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "projectId": "@triggerBody()['basecampProjectId']",
                                  "todoId": "@variables('createdCardOrTaskId')"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                                  "connectionName": "basecamp_imported",
                                  "operationId": "CompleteToDo"
                                },
                                "authentication": {
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                                  "type": "Raw"
                                }
                              },
                              "runtimeConfiguration": {
                                "staticResult": {
                                  "staticResultOptions": "Disabled",
                                  "name": "Create_a_card0"
                                }
                              }
                            }
                          }
                        },
                        "expression": "@items('Tasks')['created_by/gid']",
                        "type": "Switch"
                      }
                    },
                    "runAfter": {
                      "Create_todo": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "not": {
                        "equals": [
                          "@items('Tasks')?['completed_by']",
                          "@null"
                        ]
                      }
                    },
                    "type": "If"
                  }
                }
              }
            },
            "default": {},
            "expression": "@triggerBody()['create']",
            "type": "Switch"
          },
          "Get_stories": {
            "runAfter": {
              "Create": [
                "Succeeded"
              ]
            },
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "task_gid": "@items('Tasks')?['gid']",
                "opt_fields": [
                  "html_text",
                  "created_by",
                  "created_at",
                  "likes.user.name",
                  "resource_subtype",
                  "story.text",
                  "type"
                ]
              },
              "host": {
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                "connectionName": "shared_asana-202-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                "operationId": "GetStoriesForTask"
              },
              "authentication": {
                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                "type": "Raw"
              }
            }
          },
          "Filter_stories_to_comments": {
            "runAfter": {
              "Get_stories": [
                "Succeeded"
              ]
            },
            "type": "Query",
            "inputs": {
              "from": "@body('Get_stories')['data']",
              "where": "@equals(item()['type'],'comment')"
            }
          },
          "Add_comments": {
            "foreach": "@body('Filter_stories_to_comments')",
            "actions": {
              "Set_createCommentBody": {
                "type": "SetVariable",
                "inputs": {
                  "name": "createCommentBody",
                  "value": {
                    "content": "@replace(items('Add_comments')['html_text'], '<body>', concat('<body>', '<pre><em>(originally created at ', formatDateTime(items('Add_comments')['created_at'], 'F', 'en-GB'), if(not(contains(variables('usersMapping'), items('Add_comments')['created_by/gid'])), concat(' by ', variables('Users')?[items('Add_comments')['created_by/gid']]['ref']), '') ,')</em></pre>'))"
                  }
                }
              },
              "Replace_comment_mentions": {
                "foreach": "@variables('mentions')",
                "actions": {
                  "Replace_comment_mention_into_tmp": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "tmpString",
                      "value": "@replace(variables('createCommentBody')['content'], items('Replace_comment_mentions')['find'], items('Replace_comment_mentions')['replace'])"
                    }
                  },
                  "Update_createCommentBody_from_tmp": {
                    "runAfter": {
                      "Replace_comment_mention_into_tmp": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "createCommentBody",
                      "value": {
                        "content": "@variables('tmpString')"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Set_createCommentBody": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach"
              },
              "Post_comments": {
                "runAfter": {
                  "Replace_comment_mentions": [
                    "Succeeded"
                  ]
                },
                "cases": {
                  "Post_comments_as_Vladi": {
                    "case": "1108196483313668",
                    "actions": {
                      "Post_comment_as_Vladi": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "projectId": "@triggerBody()['basecampProjectId']",
                            "recordingId": "@variables('createdCardOrTaskId')",
                            "body": "@variables('createCommentBody')"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                            "connectionName": "basecamp_vladi",
                            "operationId": "CreateComment"
                          },
                          "authentication": {
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                            "type": "Raw"
                          }
                        },
                        "runtimeConfiguration": {
                          "staticResult": {
                            "staticResultOptions": "Disabled",
                            "name": "Create_a_comment0"
                          }
                        }
                      }
                    }
                  },
                  "Post_comments_as_Alex": {
                    "case": "33192501926992",
                    "actions": {
                      "Post_comment_as_Alex": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "projectId": "@triggerBody()['basecampProjectId']",
                            "recordingId": "@variables('createdCardOrTaskId')",
                            "body": "@variables('createCommentBody')"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                            "connectionName": "basecamp_alex",
                            "operationId": "CreateComment"
                          },
                          "authentication": {
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                            "type": "Raw"
                          }
                        },
                        "runtimeConfiguration": {
                          "staticResult": {
                            "staticResultOptions": "Disabled",
                            "name": "Create_a_comment0"
                          }
                        }
                      }
                    }
                  },
                  "Post_comments_as_Raffo": {
                    "case": "1202404912090694",
                    "actions": {
                      "Post_comment_as_Raffo": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "projectId": "@triggerBody()['basecampProjectId']",
                            "recordingId": "@variables('createdCardOrTaskId')",
                            "body": "@variables('createCommentBody')"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                            "connectionName": "basecamp_raffo",
                            "operationId": "CreateComment"
                          },
                          "authentication": {
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                            "type": "Raw"
                          }
                        },
                        "runtimeConfiguration": {
                          "staticResult": {
                            "staticResultOptions": "Disabled",
                            "name": "Create_a_comment0"
                          }
                        }
                      }
                    }
                  },
                  "Post_comments_as_Vlado": {
                    "case": "1201918551024388",
                    "actions": {
                      "Post_comment_as_Vlado": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "projectId": "@triggerBody()['basecampProjectId']",
                            "recordingId": "@variables('createdCardOrTaskId')",
                            "body": "@variables('createCommentBody')"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                            "connectionName": "basecamp_vlado",
                            "operationId": "CreateComment"
                          },
                          "authentication": {
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                            "type": "Raw"
                          }
                        },
                        "runtimeConfiguration": {
                          "staticResult": {
                            "staticResultOptions": "Disabled",
                            "name": "Create_a_comment0"
                          }
                        }
                      }
                    }
                  },
                  "Post_comments_as_Anton": {
                    "case": "1165302891579978",
                    "actions": {
                      "Post_comment_as_Anton": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "projectId": "@triggerBody()['basecampProjectId']",
                            "recordingId": "@variables('createdCardOrTaskId')",
                            "body": "@variables('createCommentBody')"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                            "connectionName": "basecamp_anton",
                            "operationId": "CreateComment"
                          },
                          "authentication": {
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                            "type": "Raw"
                          }
                        },
                        "runtimeConfiguration": {
                          "staticResult": {
                            "staticResultOptions": "Disabled",
                            "name": "Create_a_comment0"
                          }
                        }
                      }
                    }
                  },
                  "Post_comments_as_Elena": {
                    "case": "1165302891579994",
                    "actions": {
                      "Post_comment_as_Elena": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "projectId": "@triggerBody()['basecampProjectId']",
                            "recordingId": "@variables('createdCardOrTaskId')",
                            "body": "@variables('createCommentBody')"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                            "connectionName": "basecamp_elena",
                            "operationId": "CreateComment"
                          },
                          "authentication": {
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                            "type": "Raw"
                          }
                        },
                        "runtimeConfiguration": {
                          "staticResult": {
                            "staticResultOptions": "Disabled",
                            "name": "Create_a_comment0"
                          }
                        }
                      }
                    }
                  },
                  "Post_comments_as_Kristiyana": {
                    "case": "1206055494267967",
                    "actions": {
                      "Post_comment_as_Kristiyana": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "projectId": "@triggerBody()['basecampProjectId']",
                            "recordingId": "@variables('createdCardOrTaskId')",
                            "body": "@variables('createCommentBody')"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                            "connectionName": "basecamp_kristiyana",
                            "operationId": "CreateComment"
                          },
                          "authentication": {
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                            "type": "Raw"
                          }
                        },
                        "runtimeConfiguration": {
                          "staticResult": {
                            "staticResultOptions": "Disabled",
                            "name": "Create_a_comment0"
                          }
                        }
                      }
                    }
                  }
                },
                "default": {
                  "actions": {
                    "Post_comment_as_Other": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "projectId": "@triggerBody()['basecampProjectId']",
                          "recordingId": "@variables('createdCardOrTaskId')",
                          "body": "@variables('createCommentBody')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_basecamp-204-5f225a39949ff7e0b2-5f3b76c9731dcd3ca4",
                          "connectionName": "basecamp_imported",
                          "operationId": "CreateComment"
                        },
                        "authentication": {
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                          "type": "Raw"
                        }
                      },
                      "runtimeConfiguration": {
                        "staticResult": {
                          "staticResultOptions": "Disabled",
                          "name": "Create_a_comment0"
                        }
                      }
                    }
                  }
                },
                "expression": "@items('Add_comments')['created_by/gid']",
                "type": "Switch"
              }
            },
            "runAfter": {
              "Filter_stories_to_comments": [
                "Succeeded"
              ]
            },
            "type": "Foreach"
          }
        },
        "runAfter": {
          "Collect_subtasks": [
            "Succeeded"
          ]
        },
        "metadata": {
          "operationMetadataId": "47cd3b24-845c-42e9-bb6d-a993f7baf863"
        },
        "type": "Foreach",
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 1
          }
        }
      }
    }
  }
}